{

	// REQUIRED
	"package": "", // new package name (java package name)
	"appName": "" // new application name (used for war folder/.war file and database names)

	// OPTIONALS
	// "src": "", // optional source git
	// "srcBranch": "" // optional the branch to start from
	// "dir": "" // optional output directory. Will be "./" if not defined

}